* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100vh;
}

.navbar-brand {
  font-size: 35px;
}

#carouselExampleCaptions {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#carouselExampleCaptions h5,
#carouselExampleCaptions p {
  z-index: 2;
  color: #fff;
}

.carousel-caption {
  z-index: 1;
}

.hederis {
  background: rgba(0, 0, 0, 0.6);
}

.navi a {
  text-transform: uppercase;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}
